/* Content table.

    1- Main elements.
        A- 
    2- Home.
    3- Page.
    4- About.
    5- Portfolio.
    6- Application.
    7- Contact.
    8- Footer.

*/

/*  -----------------------
        1- Main Elements.
    ----------------------- */

html {
    overflow-x: hidden;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}

#global {
    width: 100%;
}
 
.button {
    color: #b49688;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #ababab;
    border-radius: 5px;
    padding: 4px 8px 4px 8px;
    background:  white;
    box-shadow: 0px 5px 10px #ababab;
    margin-top: 30px;
}

.content {
    margin-top: 100px;
}

a {
    text-decoration: none;
    color: #8c8c8c !important;
}

p {
    text-align: initial;
}

a:hover {
    color: #b49688 !important;
}

a:focus {
    color: #b49688 !important;
}

/*  -----------------------
        2- Home.
    ----------------------- */

header {
    background: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    z-index: 100;
    right: 0;
    top: 0;
    left: 0;
    height: 70px;
    padding-bottom: 5px;
    border-bottom: 1px solid grey;
}

.nav-tab,
.menu-btn {
	cursor: pointer;
}

.hidden {
	display: none;
}

header nav ol {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

header nav li {
    margin-right: 15px;
}

header nav a {
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
}

header nav a:hover {
    padding-top: 10px;
    border-top: 2px solid;
}

header nav a:focus {
    padding-top: 10px;
    border-top: 2px solid;
}

#header_title {
    margin-left: 20px;
}

#header_title h1 {
    font-weight: bold;
}

#header_title a {
    text-decoration: none;
    color: #8c8c8c;
}

#header_title a:hover {
    color: #b49688;
}

#banner_index_img {
    height: 600px;
    margin-top: -100px;
}

#banner_index img {
    width: 100%;
    height: 100%;
}

#about_index {
    padding-top: 60px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
}

#about_index_img {
    margin-top: 60px;
    width: 40vw;
    background: white;
    box-shadow: 0px 5px 15px #ababab;
}

#about_index img {
    width: 100%;
    margin-top: 15%;
}

#about_index_text {
    width: 30vw;
    margin-left: 100px;
}


#portfolio_index_global {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
}

.portfolio_index_img {
    width: 25vw;
    margin: 25px;
    background: white;
    box-shadow: 0px 5px 15px #ababab;
    position: relative;
}

.portfolio_index_img img {
    width: 100%;
    margin-top: 10%;
}

.portfolio_index_text {
    background:  #b49688;
    box-shadow: 0px 5px 10px #b49688;
    width: 25vw;
    color: white;
    position: absolute;
    top: 70%;
    opacity: 0;
}

.portfolio_index_text:hover {
    opacity: 1;
}

#application_index {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
}

#application_index_img {
    margin-left: 100px;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 40vw;
    background: white;
    box-shadow: 0px 5px 15px #ababab;
}

#application_index img {
    width: 100%;
    margin-top: 15%;
}

#application_index_text {
    width: 30vw;
}

#contact_index {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact_index_img {
    margin-top: 60px;
    margin-bottom: 60px;
    width: 40vw;
    background: white;
    box-shadow: 0px 5px 15px #ababab;
}

#contact_index img {
    width: 100%;
    margin-top: 8%;
}

#contact_index_text {
    width: 30vw;
    margin-left: 100px;
}

/*  -----------------------
        3- Page.
    ----------------------- */

.banner_page_img {
    height: 600px;
    margin-top: -100px;
}

.banner_page_img img {
    width: 100%;
    height: 100%;
}

.banner_page_text {
    padding-top: 150px;
    color: white;
}

/*  -----------------------
        4- About.
    ----------------------- */
#about {
   margin-left: 15%;
   margin-right: 15%;
}    
#about p {
    margin-top: 50px;
    text-align: start;
}

/*  -----------------------
        5- Portfolio.
    ----------------------- */

.portfolio_presentation {
    margin-top: 80px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio_presentation_img {
    width: 40vw;
    background: white;
    box-shadow: 0px 5px 15px #ababab;
}

.portfolio_presentation_img img {
    width: 100%;
    margin-top: 15%;
}
.portfolio_presentation_text {
    width: 35vw;
    margin-left: 100px;
}

#portfolio_page_global {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.portfolio_page_img {
    background: #b49688;
    margin: 50px;
    box-shadow: 0px 5px 15px #ababab;
    width: 60%;
}

.portfolio_page_img img {
    width: 100%;
}

.portfolio_page_text {
    margin-top: -4px;
    color: white;
    border-top: 1px solid grey;
}

.portfolio_page_text h2 {
    margin-top: 8px;
    text-transform: uppercase;
}

/*  -----------------------
        6- Application.
    ----------------------- */

#application {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#application_text {
    width: 50vw;
    margin-bottom: 100px;
}

#chatbot iframe {
    width: 60vw;
    height: 80vw;
}

#comments_global {
    margin-top: 100px;
    box-shadow: 0px 5px 15px #ababab;
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comments {
    border: 1px solid grey;
    width: 80%;
    margin: 15px;
}

.comments p {
    margin-left: 50px;
}

#application form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    margin-top: 50px;
    padding: 20px;
    box-shadow: 0px 5px 15px #ababab;
}

#application input {
    width: 20vw;
}

#application input:last-child {
    width: 8vw;
}

#application textarea {
    width: 20vw;
}

/*  -----------------------
        7- Contact.
    ----------------------- */

#contact {
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact_infos {
    margin-top: 60px;
    margin-bottom: 60px;
    width: 40vw;
    box-shadow: 0px 5px 15px #ababab;
}

#contact_infos p {
    text-align: center;
}

#contact_form {
    margin-top: 60px;
    margin-bottom: 60px;
    width: 40vw;
    margin-left: 100px;
    box-shadow: 0px 5px 15px #ababab;
}

#contact_form form {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#contact_form input {
    padding: 5px;
    margin: 10px;
}

/*  -----------------------
        8- Admin.
    ----------------------- */

#connection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 200px;
    padding: 20px;
    box-shadow: 0px 5px 15px #ababab;
    margin-left: 25vw;
    margin-right: 25vw;
}

#connection form {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#connection input {
    padding: 5px;
    margin: 10px;
}

#connection_error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 200px;
    padding: 20px;
    box-shadow: 0px 5px 15px #ababab;
    margin-left: 25vw;
    margin-right: 25vw;
}

#admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 200px;
    padding: 20px;
    box-shadow: 0px 5px 15px #ababab;
    margin-left: 25vw;
    margin-right: 25vw;
}

table {
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 0px 5px 15px lightgrey;
    border-collapse: collapse;
    margin-top: 20px;
    }
    th {
    font-family: monospace;
    border: 1px solid lightgrey;
    padding: 8px;
    }
    td {
    font-family: sans-serif;
    border: 1px solid lightgrey;
    padding: 8px;
    text-align: center;
    }
    tr:hover {
        background-color: lightgrey;
    }

#add_pictures {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    padding: 20px;
    box-shadow: 0px 5px 15px #ababab;
    margin-left: 25vw;
    margin-right: 25vw;
}

#add_pictures form {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#add_pictures input {
    padding: 5px;
    margin: 10px;
}

#add_pictures textarea {
    padding: 5px;
    margin: 10px;
}

#showAnimal {
    display: none;
}

#showLandscape {
    display: none;
}
/*  -----------------------
        9- Footer.
    ----------------------- */

footer {
    background: #f2f2f2;
    border-top: 1px solid grey;
    margin-bottom: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 80px;
    padding: 20px;
}

footer a {
    margin: 8px;
    text-decoration: none;
    color: #8c8c8c;
    font-size: 1em;
    font-weight: bold;
}

@media screen and (max-width: 1024px) {

    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100px;
    }

    nav {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

	.nav-container {
		position: fixed;
		display: none;
		overflow-y: auto;
		z-index: -1;
		width: 180px;
		background: #fff;
        box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
	}

	.nav-tabs {
		flex-direction: column;
		align-items: flex-end;
        margin-top: 30px;
    }
    
    header nav li {
        margin-top: 30px;
    }

	.menu-btn {
		position: relative;
		display: block;
		margin: 0;
		width: 20px;
		height: 15px;
		cursor: pointer;
		z-index: 2;
		padding: 10px;
        border-radius: 10px;
        margin-bottom: 15px;
	}

	.menu-btn .menu {
		display: block;
		width: 100%;
		height: 2px;
		border-radius: 2px;
		background: #b49688;
	}

	.menu-btn .menu:nth-child(2) {
		margin-top: 4px;
		opacity: 1;
	}

	.menu-btn .menu:nth-child(3) {
		margin-top: 4px;
	}

	#menuToggle:checked + .menu-btn .menu {
		transition: transform 0.2s ease;
	}

	#menuToggle:checked + .menu-btn .menu:nth-child(1) {
		transform: translate3d(0, 6px, 0) rotate(45deg);
	}

	#menuToggle:checked + .menu-btn .menu:nth-child(2) {
		transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
		opacity: 0;
	}

	#menuToggle:checked + .menu-btn .menu:nth-child(3) {
		transform: translate3d(0, -6px, 0) rotate(-45deg);
	}

	#menuToggle:checked ~ .nav-container {
		z-index: 1;
		display: flex;
		animation: menu-slide-left 0.3s ease;
	}
	@keyframes menu-slide-left {
		0% {
			transform: translateX(200px);
		}
		to {
			transform: translateX(0);
		}
    }
    
    #about_index {
        flex-direction: column;
    }

    #about_index_img {
        margin: 0;
        width: 60vw;
    }

    #about_index_text {
        margin: 0;
        width: 60vw;
    }

    #portfolio_index_global {
        flex-direction: column;
        align-items: center;
    }

    .portfolio_index_img {
        width: 60vw;
    }

    .portfolio_index_text {
        width: 60vw;
    }

    #application_index {
        flex-direction: column-reverse;
    }

    #application_index_img {
        margin-left: 0;
        width: 60vw;
    }

    #application_index_text {
        width: 60vw;
        margin-bottom: 10%;
    }

    #contact_index {
        flex-direction: column;
    }

    #contact_index_img {
        width: 60vw;
    }

    #contact_index_text {
        margin-left: 0;
        width: 60vw;
    }

    .portfolio_presentation {
        flex-direction: column;
    }
    
    .portfolio_presentation_img {
        margin-left: 0;
        width: 60vw;
    }

    .portfolio_presentation_text {
        margin-left: 0;
        width: 60vw;
    }

    #contact {
        flex-direction: column;
    }
    
    #contact_infos {
        margin-left: 0;
        width: 60vw;
    }
    
    #contact_form {
        margin-left: 0;
        width: 60vw;
    }

    #comments_global {
        width: 60vw;
    }

    .comments {
        width: 90%;
    }

    #comments_form {
        width: 60vw;
    }

    #comments_form input {
        width: 90% !important;
    }

    #comments_form textarea {
        width: 90%;
    }
}
